html {
    width: 450px;
    height: 400px;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#guardar {
    width: 100%;
    display: block;
}

#tabs {
    position: relative;
    min-height: 400px;
}

.message {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

#notice {
    margin-top: 15px;
    font-size: 10px;
}